snippet template "SH Base template" b
#!/usr/bin/env bash

set -o errexit		# Exit script on fail
set -o nounset		# Fails if unset var

usage() {
  cat <<EOF
Usage: $(basename "${BASH_SOURCE[0]}") [-h] [-v] [-f] -p param_value arg1 [arg2...]

Script description here.

Available options:

-h, --help      Print this help and exit
-v, --verbose   Print script debug info
-f, --flag      Some flag description
-p, --param     Some param description
EOF
  exit
}
endsnippet
