snippet "\\?b(egin)?" "begin and end" br
\begin{${1:...}}
	${0:${VISUAL}}
\end{$1}
endsnippet

snippet "\\?fig(ure)?" "figure inside environment" br
\begin{figure}
	\centering
	\caption{$1}
	\includegraphics[width=$3\linewidth]{$2}
\end{figure}
${0:${VISUAL}}
endsnippet

snippet "\\?table" "table environment centered" br
\begin{table}
\centering
\caption{$1}
\begin{tabular}{ $2 }
	$3
\end{tabular}
\end{table}
${0:${VISUAL}}
endsnippet
